<<<<<<< Updated upstream
.anchor-pane {
    -fx-background-color: #FFFF00; /* Màu vàng */
}

/* Định dạng cho các Button */
.button {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
    -fx-text-fill: #FFFFFF;
}

/* Định dạng cho TextField */
.text-field {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho ListView */
.list-view {
    -fx-control-inner-background: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho WebView */
.web-view {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho RadioButton */
.radio-button {
    -fx-text-fill: #2E8B57;
}

/* Định dạng cho các Button khác */
#speakButton,
#switchLanguageButton,
#infoButton,
#translationButton,
#crudButton,
#sicBoButton,
#gameButton {
    -fx-background-color: #2E8B57; /*

=======
/* Định dạng nền cho AnchorPane */
.anchor-pane {
    -fx-background-color: #FFFF00; /* Màu vàng */
}

/* Định dạng cho các Button */
.button {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
    -fx-text-fill: #FFFFFF;
}

/* Định dạng cho TextField */
.text-field {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho ListView */
.list-view {
    -fx-control-inner-background: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho WebView */
.web-view {
    -fx-background-color: #2E8B57; /* Màu xanh lá cây */
}

/* Định dạng cho RadioButton */
.radio-button {
    -fx-text-fill: #2E8B57;
}

/* Định dạng cho các Button khác */
#speakButton,
#switchLanguageButton,
#infoButton,
#translationButton,
#crudButton,
#sicBoButton,
#gameButton {
    -fx-background-color: #2E8B57; /*
>>>>>>> Stashed changes
